header {
  margin: 4% auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 10vh;
  border-radius: 0.5vw;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.header__link {
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
  font-size: 16px;
}

button {
  background-image: none;
  background: transparent;
  border: none;
}
