form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 2.5vw;
  background-color: transparent;
  width: 90%;
  /* margin: 0 4vw 0 0; */
}

.edit-form__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  width: 50%;
}

label {
  max-width: 50%;
}

input {
  width: 40%;
  background-color: #966f33;
  text-align: center;
}

input:disabled {
  opacity: 0.7;
}

select {
  width: 40%;
  text-align: center;
  background-color: #966f33;
}

option {
  background-color: white;
  color: black;
  text-align: center;
}

button {
  background-color: #966f33;
  background-image: none;
  height: 5vh;
  /* width: 30%;
  align-self: flex-end; */
}
