.homepage {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

section {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.homepage__room__section {
  width: 60%;
}

.homepage__current-selection__section {
  width: 30%;
}

.homepage__rooms {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5%;
  row-gap: 1%;
  width: 100%;
  height: 70vh;
}

.homepage__current-selection {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-height: 70vh;
}

h2 {
  margin: 0 auto;
}
